dw, dh = map(int, input().split())
mw, mh = map(int, input().split())

list1 = [dw, dh, mw, mh]

# بررسی شرایط
if dw >= mw and dh >= mh and all(0 < i <= 10**9 for i in list1):
    print("Yes")
else:
    print("No")
